.commentContainer
    diplay: flex
    flex-direction: column
    margin-left: 20vw
    margin-right: 20vw
    margin-top: 5vh
    border: 1px solid #9694859c
    padding: 1em
    border-radius: 10px

.commentHeader
    display: flex
    flex-direction: row

.del
    float: right
    right: 47.5vw
    z-index: 1
    width: 20px
    height: 20px
    background: rgba(0, 0, 0, 0)
    border-radius: 50%
    color: red
    font-size: 20px
    outline: none
    &:hover
        background: rgba(0, 0, 0, 0)