
    
.login 
    margin-top: 25vh
    display: flex
    flex-direction: column
    align-items: center

.register
    margin-top: 17vh


input, button, label
    width: 15vw
    min-width: 20px
    padding: .5em
    

button
    margin-top: 1em

    &:hover
        cursor: pointer
    
label
    margin-top: 1.5em 
