
    
.login 
    margin-top: 25vh
    display: flex
    flex-direction: column
    align-items: center

.register
    margin-top: 17vh


input, button, label
    width: 15vw
    min-width: 20px
    padding: .5em

.regis
    margin-top: 1.5em   

button
    margin-top: 1em
    color: white
    background: #262626
    transition: .3s
    border: none
    padding: .7em
    &:hover
        cursor: pointer
        background: #e5b31b
    
label
    margin-top: 1.5em 

.error
    margin-top: 1vh
    color: red