.homeContainer
    margin-top: 8vh
    margin-left: 10vw
    margin-right: 10vw
    
.postContainer
    margin-top: 5vh
    display: flex
    flex-direction: row
    flex-wrap: wrap
    

.card
    padding: auto
    margin: 2em
    transition: .3s ease

    &:hover
        transform: scale(1.1)
    