.containerPost
    position: relative
    padding: 3rem
    overflow: hidden
    background-size: cover
    cursor: pointer
    display: flex
    flex-direction: column
    justify-content: flex-start
    flex-grow: 2
    &::before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        filter: blur(4px)

.author
    float: left

.see
    text-decoration: none
    float: left
    transition: .1s ease

    &:hover
        color: #e5b31b

